css:

  * {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  .top {
    height: 30px;
    width: 100%;
    margin-top: 20px;
  }

  .p1 {
    color: #ff5c5c;
    font-size: 20px;
    float: left;
    padding-left: 40px;
  }

  .s1 {
    font-size: 14px;
    display: block;
    color: #333333;
    width: 90px;
    height: 30px;
    line-height: 30px;
    float: right;

  }

  .s2 {
    display: block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #f13f4b;
    float: right;
  }

  .clear {
    clear: both;
  }

  table {
    border: 1px solid #f7f7f7;
    border-collapse: collapse;

  }

  table tr {
    height: 35px;
    line-height: 35px;
  }

  table tr th {
    font-size: 14px;
    color: #333333;
    border: 1px solid #f7f7f7;
    font-weight: 300;
  }

  table tr td {
    border: 1px solid #f7f7f7;
    font-size: 14px;
    color: #666666;
    text-align: center;
  }

  .footer {
    width: 100%;
    height: 73px;
    color: #ffffff;
    font-size: 12px;
    line-height: 73px;
    text-align: center;
    background-color: #f13f4b;
  }

  .railspage {
    width: 400px;
    height: 25px;
    padding-top: 10px;
  }

  .railspage .pagination span {
    font-size: 12px;
    color: #999;
    line-height: 23px;
    float: right;
    margin-left: 5px;
  }

  .railspage .pagination span {
    width: 63px;
    text-align: center;
    border: 1px solid #999;
    cursor: pointer;
  }

  .railspage .pagination span.on {
    color: #fff;
    background: #f13f4b;
    border: 1px solid #3c90d9;
  }

  .railspage .pagination span a {
    width: 63px;
    display: block;
    background: #f13f4b;
    color: #ffffff;
    cursor: pointer;
  }


body style="border-top:2px solid red;"
  p.top
    span.p1 系统管理员
    span.s2 = current_user.name+",您好"
    span.s1
      = link_to "添加渠道商 |", new_channel_channel_user_path, class: 's1'
    span.s1#tx
      = link_to "退出登录 |", channel_session_path, class: 's1', method: :delete, :confirm => "Are you sure ?"
    span.s1 style="color:#ff5c5c"
      = link_to "转账记录 |",channel_channel_user_transfers_path(current_user), class: 's1'
    span.s1 style="color:#ff5c5c"
      = link_to "首页|", admin_admin_index_path, class: 's1'
    .clear
  hr style="background:#f7f7f7;height:5px;opacity:0.8;border-top:none;margin:20px 0px"
  span style="display:block;font-size:14px;color:#7a7a7a;width:80px;height:40px;line-height:40px;text-align:center;border:1px solid #f7f7f7;margin-left:40px;"
    | 转账记录
  div style="padding-left:40px;min-height: 525px;"
    table cellspacing='0' cellpadding='5'
      thread
        tr
          th width="45" 序号
          th width="110" 转账时间
          th width="110" 转账人
          th width="155" 收款人姓名
          th width="150" 地区
          th width="150" 公司/个人
          th witdh="150" 转账金额
          th width="150" 详情
      tbody
        - @transfers.each do |transfer|
          tr
            td = transfer.id
            td = DateTime.parse(transfer.created_at.to_s).strftime('%Y-%m-%d').to_s
            td = transfer.transfer_user.try(:name)
            td = transfer.collector.try(:name)
            td = transfer.collector.try(:address)
            td = transfer.transfer_user.try(:user_type)
            td = transfer.amount
            td  详情
    div.railspage
      = paginate @transfers

javascript
  = javascript_include_tag 'application', "data-turbolinks-track" => false