<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
  <title>亲子付</title>
  <link rel="stylesheet" type="text/css" href="/css/reset1.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/main2.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.min.css" media="all" />
  <script type="text/javascript" src="/js/750rem.js"></script>
</head>
<body>
    <header>
        <a href=""><div class="back"><img src="/imgs/back.png"></div></a>
        <div class="name">亲子付</div>
    </header>
    <input type="hidden" name="token" id="token" value="<%= params[:token]%>">
    <div class="user">
    	<div class="title" style="border:none;">选择子女</div>

        <div class="zn">
        	<dl>
          </dl>
        </div>
    </div>
    <div class="user">
    	<div class="title" style="border:none;">选择类别</div>

        <div class="price">
        	<dl>
            	<dd  data-price="10"><p>1个月</p><span>¥10</span></dd>
            	<dd  data-price="100"><p>一年</p><span>¥100</span></dd>
            </dl>
        </div>
    </div>

    <div class="zf-button"><a href="" id="zhifuBtn">确认支付</a></div>
    <!--<div class="user">
    	<div class="title-vip">
        	<div class="vip">
            	<p>欢乐诵会员</p><span>尊享全部会员特权</span>
            </div>
        </div>
    	<div class="title-vip">
        	<div class="vip">
            	<p>1个月</p><span>1个月，每月10元</span>
            </div>
            <div class="btn"><button  type="button"  class="button" id="button1" data-price="¥10.00">开通</button>
            </div>
        </div>
    	<div class="title-vip">
        	<div class="vip">
            	<p>1年</p><span>12个月，每月8.3元</span>
            </div>
            <div class="btn"><button  type="button"  class="button" id="button2" data-price="¥100.00">开通</button>
            </div>
        </div>

    </div>

			<!--弹窗-->

   			 <div class="dialog" id="dialog1">
				<div class="topclosed" id="topclosed1"><img src="/imgs/closed.png" width="100%" />
				</div>
					<div class="dialog-title">
						<p>欢乐诵会员</p>
            <span></span>
					</div>

        <div class="dialogbox">
					<div class="dialogbox-img">
						<img src="/imgs/icon_zhifubao-.png">
					</div>
					<div class="dialogbox-text">
						<p>支付宝支付</p>
            <span>使用支付宝钱包支付</span>
					</div>
					<div class="dialogbox-checkbox">
              <input type="radio" id="zfb" checked="" name="zfb" value="zfb">
  						<label name="zfb" class="checked" for="zfb"></label>
					</div>

				</div>
				<div class="dialogbox">
					<div class="dialogbox-img">
						<img src="/imgs/icon_weixin.png">
					</div>
					<div class="dialogbox-text">
						<p>微信支付</p>
            <span>使用微信支付</span>
					</div>
					<div class="dialogbox-checkbox">
              <input type="radio" id="vx" checked="checked" name="vx" value="vx">
  						<label name="vx" class="" for="vx"></label>
					</div>

				</div>


				<div class="am-btn">
					<button type="button" class="am-button" id="tt">立即支付</button>
				</div>
			</div>
			<!--弹窗-->
			<!--半透明黑色背景-->
			<div id="mask"></div>
			<!--半透明黑色背景-->






</body>
</html>
<script>
    var basedir = '/js/';
</script>
<script type="text/javascript" src="/js/do.js"></script>
<script type="text/javascript" src="/js/pingpp.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min2.js"></script>
<script type="text/javascript" src="/js/lib/layer/layer.js" ></script>
<script type="text/javascript" src="/js/web_pay.js"></script>
