<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
  <title>欢乐诵会员</title>
  <link rel="stylesheet" type="text/css" href="/css/reset1.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.min.css" media="all" />
  <script type="text/javascript" src="/js/750rem.js"></script>
</head>
<body>
    <input type="hidden" value="<%= params[:token]%>" id="token">
    <header>
        <a href=""><div class="back"><img src="/imgs/back.png"></div></a>
        <div class="name">欢乐诵会员</div>
    </header>
    <div class="user">
    	<div class="userimg"><img src="<%= ENV['QINIUPREFIX']+@user.avatar %>"></div>
    	<div class="usermin">
            <div class="username"><%= @user.name%></div>
            <% if @user.vip?%>
              <div class="userdate">会员有效期至：
                <span style="color:#f14048;"><%= Time.at(@user.member.expire_time)%></span>
              </div>
            <% end %>
        </div>
    </div>

    <div class="user">
    	<div class="title">会员特权</div>

        <div class="tq-icon">
        	<dl>
            	<dt><img src="/imgs/icon_changdu.png"></dt>
            	<dd><p>畅读</p><span>畅读所有文章</span></dd>
            </dl>
        	<dl>
            	<dt><img src="/imgs/icon_fenxiang.png"></dt>
            	<dd><p>分享</p><span>随时分享动态</span></dd>
            </dl>
        	<dl>
            	<dt><img src="/imgs/icon_gexingfengmian.png"></dt>
            	<dd><p>个性封面</p><span>自定义背景切换</span></dd>
            </dl>
        	<dl>
            	<dt><img src="/imgs/icon_gengduo.png"></dt>
            	<dd><p>更多特权</p><span>敬请期待</span></dd>
            </dl>
        </div>
    </div>
    <div class="user">
    	<div class="title-vip">
        	<div class="vip">
            	<p>欢乐诵会员</p><span>尊享全部会员特权</span>
            </div>
        </div>
    	<div class="title-vip">
        	<div class="vip">
            	<p>1个月</p><span>1个月，每月10元</span>
            </div>
            <div class="btn"><button  type="button"  class="button" id="button1" data-price="¥10.00">开通</button>
            </div>
        </div>
    	<div class="title-vip">
        	<div class="vip">
            	<p>1年</p><span>12个月，每月8.3元</span>
            </div>
            <div class="btn"><button  type="button"  class="button" id="button2" data-price="¥100.00">开通</button>
            </div>
        </div>

    </div>

			<!--弹窗-->

   			 <div class="dialog" id="dialog1">
				<div class="topclosed" id="topclosed1"><img src="/imgs/closed.png" width="100%" />
				</div>
					<div class="dialog-title">
						<p>欢乐诵会员</p>
                        <span>¥100.00</span>
					</div>
        <div class="dialogbox">
					<div class="dialogbox-img">
						<img src="/imgs/icon_zhifubao-.png">
					</div>
					<div class="dialogbox-text">
						<p>支付宝支付</p>
                        <span>使用支付宝钱包支付</span>
					</div>
					<div class="dialogbox-checkbox">
                    	<input type="radio" id="vx" checked="" name="vx" value="vx">
  						<label name="vx" class="checked" for="vx"></label>
					</div>

				</div>
				<div class="dialogbox">
					<div class="dialogbox-img">
						<img src="/imgs/icon_weixin.png">
					</div>
					<div class="dialogbox-text">
						<p>微信支付</p>
                        <span>推荐已安装微信客户端的用户使用</span>
					</div>
					<div class="dialogbox-checkbox">
                    	<input type="radio" id="vx" checked="checked" name="vx" value="vx">
  						<label name="vx" class="" for="vx"></label>
					</div>

				</div>

				<div class="am-btn">
					<button type="button" class="am-button" id="tt">立即支付</button>
				</div>
			</div>
			<!--弹窗-->
			<!--半透明黑色背景-->
			<!--<div id="mask"></div>-->
			<!--半透明黑色背景-->






</body>
</html>
<script>
    var basedir = '/js/';
</script>
<script type="text/javascript" src="/js/do.js"></script>

<script type="text/javascript" src="/js/pingpp.js"></script>
<script type="text/javascript" src="/js/jquery.min2.js" ></script>
<script type="text/javascript" src="/js/lib/layer/layer.js" ></script>
<script type="text/javascript" src="/js/main.js"></script>
