.header {
    margin-top: 50px;
    color: #fff;
    text-align: center;
    width: 100%;

}

.header .user-name {
    font-size: 1.4rem;
    color: #333333;
    margin-top: 1rem;
}

.header .user-desc {
    color: #666666;
    font-size: 1.1rem;
}

.header-hr {
    background: #F7F7F7;
    height: 0.01rem;
    margin: rem 0px;
    opacity: 0.2;
}

.content {
    padding: 1rem .9rem .9rem 1rem;
    background-color: #ffffff;
    width: 96%;

}

.content-dt {
    padding: 0rem;
    background-color: #ffffff;
    width: 100%;

}

.content-img {
    width: 96%;
    margin: 0 auto;
    margin-top: 18px;
}

.content-img img {
    height: 21rem;
    width: 100%;
}

.content-text {
    width: 96%;
    color: #333333;
    line-height: 20px;
    font-size: 1.3rem;
    margin: 1rem auto;

}

.content-talk {
    padding: 0rem 1rem 0rem;
    background-color: #ffffff;

}

.refer {
    color: #999999;
    font-size: 1.3rem;

}

.refer > b {
    color: #333333;
    font-weight: normal;
}

.zmg {
    display: block;
    float: left;

}

.content-time {
    color: #666666;
    font-size: 1.2rem;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
"
}

.content-date {
    float: left;
    height: 20px;
    line-height: 20px
}

.love {
    float: right;

}

.love > image {
    display: block;
    float: left;
    width: 1.95rem;
}

.love > span {
    float: left;
    height: 20px;
    line-height: 20px;

}

.talk {
    float: right;
    margin-right: 3rem;
}

.talk > image {
    display: block;
    float: left;
    width: 1.8rem;
}

.talk > span {
    float: left;
    height: 20px;
    line-height: 20px;
}

.content-hr {
    background: #F7F7F7;
    height: 0.01rem;
    border-bottom: none;
    opacity: 0.2;

}

.zuoping-talk {

    width: 98%;
    min-height: 9rem;
    padding: 1.4rem 1rem;
    background-color: #ffffff;
    overflow: hidden;

}

.user-name-zuoping {

    color: #cd3e3a;
    font-size: 1.3rem;

}

.user-title-zuoping {
    display: -webkit-box;
    overflow: hidden;
    font-size: 1.1rem;
    color: #999999;
    margin-top: 0.7rem;
}

.user-circle-img-zuoping {
    float: left;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 2rem;
    margin-right: 10px
}



.user-desc {
    margin: 1.5rem 0px;
    color: #666666;
    font-size: 1.3rem;
    margin-right: 5px;
}

.listen-num-zuoping {
    float: right;
    margin-right: 1.5rem;
    margin-top: 2px;
    font-size: 1.2rem;
    color: #999
}

.zuoping-talk-hr {
    background: #F7F7F7;
    margin: 1.5rem 0px;
    height: 0.01rem;
    border-bottom: none;
    opacity: 0.2;

}

.suggest-section {
    padding: 0 1rem 5px;
    font-size: 1.2rem;
    color: #ccc
}

#suggest-list {
    width: 100%
}

.suggest-item {
    position: relative;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 30%;
    margin-left: .3rem;
    margin-bottom: .3rem;
    margin-right: 0.5rem;
}

.public-img {
    display: block;
    width: 100%;
    height: 9.5rem;
}

.suggest-info {
    padding: 7px 10px;
    background-color: #ffffff;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.suggest-song-name {
    font-size: 1.3rem;
    color: #666666
}

#video {
    width: 98%;
    margin: 0 auto;
}

.dongtai-down {
    height: 7rem;
    width: 100%;
    background: #f2f2f2;
    line-height: 6.45rem;
}

.dongtai-down img {
    width: 100%;
    height: 1.5rem;
    display: block;
    margin-bottom: 0.3rem;
}