html, body {
    font-family: Helvetica, "microsoft yahei";
    background: #ffffff;
    font-size: 10px;
}

body {
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

button, input[type="button"] {
    font-family: Helvetica, "microsoft yahei";
}

html,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,button {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption {
    font-weight: normal;
    font-style: normal;
}

ul,li,dl,dt,dd {
    list-style: none
}

fieldset,iframe,img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,aside,footer,header,hgroup,nav,section,figure,figcaption,video {
    display: block;
}

a {
    text-decoration: none;
    color: #333;
}

input,select {
    outline: none;
    border: 0;
}

input[type="text"] {
    background-position-y: -1px;
}

i, cite, em, var, address {
    font-style: normal
}

a {
    outline: none;
}

a:active {
    outline: none;
}

* {
    -webkit-tap-highlight-color: rgba(255,0,0,0);
}

b, strong {
    font-weight: bold;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;

}

.clearfix {
    zoom:1;
}

#mask {
    display: none;
    position: fixed;
    width: 100%;
    max-width: 640px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0,0,0,.7);
    z-index: 2147483647;
}
.bubble-container {
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    width: 46.5%;
    height: 70px;
    margin: 36px auto 0;
    border-radius: 50%;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #fd7555;
}
.step {
    position: absolute;
    top: 1px;
    left: -2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    color: #fd7555;
    font-weight: 700;
    font-family: 'Helvetica Neue' cursive;
    background-color: #fff;
}
.step-img {
    position: absolute;
    width: 73px;
    right: -29px;
    top: -9px;
}

@media screen and (max-device-width: 320px) {
    body {
        -webkit-text-size-adjust:none
    }
}

@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust:none
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    body {
        -webkit-text-size-adjust: none
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        -webkit-text-size-adjust:none
    }
}

.text-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.prevent-bold {
    transition: -webkit-transform 0ms;
    -webkit-transform-origin: 0px 0px;
    -webkit-transform: translate(0px, 0px) translateZ(0px);
}
input::-webkit-input-placeholder {
    color: #999;
}





.text-nowrap-zuoping {
    white-space: nowrap;
    text-overflow: ellipsis;
}
