doctype 5
html lang="en"
  head
    meta charset="UTF-8"
    title 欢迎首页
    = javascript_include_tag 'application'
    link rel="stylesheet" href="/css/lanrenzhijia.css" media="all"
    link rel="stylesheet" href="/css/admin_root.css" media="all"
    link rel="stylesheet" href="/css/welcome.css"
    = csrf_meta_tags
    script src="/js/jquery.min.js"
    javascript:
      jQuery(document).ready(function ($) {
          $('#tx').click(function () {
              console.log("ss")
              $('.theme-popover-mask').fadeIn(100);
              $('.theme-popover-tx').slideDown(200);
          })
          $('.theme-poptit .close').click(function () {
              $('.theme-popover-mask').fadeOut(100);
              $('.theme-popover-tx').slideUp(200);
          })

      });

  body style="border-top: 2px solid red;"
    p.top
      span.p1 渠道用户数据
      span.s2 = current_user.name
      span.s1#tx
        | 申请提现&nbsp;&nbsp;&nbsp;|
      span.s1
        | 学校报备&nbsp;&nbsp;&nbsp;|
      .clear
    div
      p.hc.l = current_user.name+", 您好"
      p.l style="margin-top:45px;margin-left:15px;"
        sub
          | 你一共报备了#{@schools.size}所学校，
          = link_to "添加新学校?", new_channel_school_path
      .clear

    div
      .l style="width:630px;min-height:500px;padding-left:40px;"
        p.bao 你报备学校用户数据详情
        - @schools.each do |school|
          div.xl style="width:284px;height:69px;background:#f7f7f7;margin-bottom:20px;margin-top:20px;border-radius:3px"
            .l
              p style="font-size:14px;color:#666666;padding:11px 6px;"
                = school.try(:district).try(:name)+school.name
              p style="font-size:14px;color:#666666;padding:11px 6px;"
                = school.try(:district).try(:city).try(:name) + school.try(:district).try(:name)
            .l
              p style="font-size:36px;font-weight:bold;padding:6px 6px;" = school.vip_count
              p style="font-size:12px;padding:0px 6px;color:#666666;" 已注册: #{school.user_count}
            div style="width:76px;height:69px;float:right;"
              = link_to channel_school_path(school) do
                = image_tag "矩形 @2x.png", width:"76", height:"69"
          .clear
      div style="float:left;height:400px;width:350px;margin-left:60px"
        p style="font-size:16px;" 快速查找你要查看的信息
        p style="font-size:12px;margin-top:15px" 根据地区,学校名称进行搜素，在文本框内输入信息
        p
          input style='width:290px;height:38px;border:1px solid #ccc;border-radius:7px;margin-top:23px;'
          button style='width:45px;height:35px;background:url(/imgs/search.png) no-repeat;border:none;border-radius:3px;position:relative;left:-48px;top:0.5px;' &nbsp;
      .clear
    .theme-popover-tx
      .theme-poptit
        a.close href="javascript:;" title="关闭" ×
        h3 提现
      .theme-popbod.dform-tx
        p
          span.pf 支付宝账号:
          input.acount type="text"
        p style="margin-bottom:0px;"
          span.pf
            | 提&nbsp; 现&nbsp; 金&nbsp; 额:
          input.money type="text" 元
          .info
            | 可提现金额:
            span.f13f4b 1352.00元
        p
          span.pf
            | 提&nbsp; 现&nbsp; 信&nbsp; 息:
          input.money type="text" 元
          .ipf
            img src="imgs/tan.png"
        .zp
          button.z-btn 提交申请
    .footer
      | Copyright ©2016-2018 欢乐诵
