<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>欢乐诵官网</title>
    <%= stylesheet_link_tag 'web' %>
    <%= javascript_include_tag 'web' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
